<div class="wrapper" style="background-image: url(http://unblast.com/wp-content/uploads/2018/12/Subtle-Patterns-4.jpg)">
  <div class="header" style="background-image: url(https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80)">
    <h1 class="herotext"><strong>Start Exploring The Market In a Click</strong></h1>
  </div>

  <div class="sorting-table">
    <div class="inner-sorting-table">
      <div>
        <p><strong><%= @items.length %> items </strong>match your search criteria  </p>
      </div>
      <form action = "/items">
        <select aria-labelledby="refine-sortlabel" name="sort" data-q="srp-sort">
          <option value="date">Most recent first</option>
          <option value="price_lowest_first">Price: Low to High</option>
          <option value="price_highest_first">Price: High to Low</option>
        </select>
        <input type="submit" value="Submit">
        </form>
    </div>
  </div>


  <div class="body-content">

    <div class="category">

      <h4 style="margin-left:50px;">Search by location:</h4>
      <form action = "/items">

      <p style="margin-left:50px;">Within <input type= "number" name="sort-location" id="number-box"> km of</p>


      <p style="margin-left:15px;">Within <label style="display: inline-block"><input type= "number" name="sort_location" id="number-box"> km <input type="submit" value="Submit"></label></p>

      </form>

        <%= simple_form_for :search, url: items_path, method: :get do |f| %>
      <div style="margin-left:50px; margin-top:10px; margin-bottom:10px; width:80%;" class="search-form-control form-group">
        <%= text_field_tag :location,
        params[:location],
        class: "form-control",
        placeholder: "Postcode"
        %>
        <input type="submit" value="Submit" class: 'btn btn-success text-white category-button', style: 'vertical-align: text-bottom; width: 80%; height: 4%; margin: 2px;  background-color: #0d475c !important; margin-left: 50px' >

        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>


      <h4 style="margin-left:50px;">Search by category:</h4>
      <% @categories = Item::CATEGORIES %>
        <% @categories.each do |category| %>
          <%= link_to category, items_path(category: category), class: 'btn btn-success text-white category-button', style: 'padding-bottom: 25px; font-size: smaller; vertical-align: text-bottom; width: 80%; height: 4%; margin: 2px;  background-color: #0d475c !important; margin-left: 50px' %> <br>
        <% end %>

    </div>

    <div class="cards">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="each-card">
            <% if item.photos.attached? %>
              <%= cl_image_tag item.photos.first.key %>
            <% else %>
              <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg">
            <% end %>


            <div class="card-content">
              <p><strong><%= item.name %></strong></p>
              <p><strong>£<%= '%.2f' % item.price %></strong></p>

            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>


  </div>


</div>
