<div class="wrapper">
  <div class="header">
    <h1>Start Explorin The Market In a Click</h1>
  </div>

  <div class="sorting-table">
    <div class="inner-sorting-table">
      <p><%= @items.length %> ads</p>
        <select aria-labelledby="refine-sortlabel" name="sort" data-q="srp-sort">
          <option value="date">Most recent first</option>
          <option value="price_lowest_first">Price: Low to High</option>
          <option value="price_highest_first">Price: High to Low</option>
          <option value="distance">Nearest first</option>
        </select>
    </div>
  </div>


  <div class="body-content">

    <div class="category">
     <% @categories = Item::CATEGORIES %>
      <% @categories.each do |category| %>
        <%= category %>
      <% end %>
    </div>


    <div class="cards">
      <% @items.each do |item| %>
        <div class="each-card">
          <% if item.photos.attached? %>
            <%= cl_image_tag item.photos.first.key %>
          <% else %>
            <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg">
          <% end %>
          <div class="card-content">
            <p><strong><%= item.name %></strong></p>
            <p><strong>£<%= item.price %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>


</div>
