  <div class="container pt-4 col-4">
  <h1>Create Item</h1>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: Item::CATEGORIES %>
    <%= f.submit class: 'btn btn-primary text-white' %>
    <%= link_to "Back to Main page", root_path, class: 'btn btn-danger text-white', style: 'margin: 10px;'  %>
  <% end %>

  <br>

</div>
