<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page</title>
</head>
<header>
  <div class="hedaer-div">
    <h1 class="show-page-h"><%= @item.name %></h1>
  </div>
</header>
<body>
  <div class="body-div-show">
    <div>
      <h2><%= @item.description %></h2>
      <p><%= @item.price %></p>
      <p><%= @item.category %></p>
      <p><%= @user.username %></p>
    </div>
    <div>
      <% if user_signed_in? %>
        <% if current_user.id == @item.user_id %>
          <%= link_to 'Edit', edit_item_path, class: 'btn btn-success text-white', style: 'margin: 10px;' %>
          <%= link_to 'Delete', @item , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger text-white', style: 'margin: 10px;' %>
        <% else %>
          <a href="#" class="btn btn-success text-white" style="margin-bottom: 10px;">Purchase</a>
        <% end %>
      <% else %>
        <%= link_to 'Sign in to Purchase', new_user_session_path, class: "btn btn-success text-white", style: "margin-bottom: 10px;"  %>
      <% end %>
    </div>
  </div>
</body>
</html>
